In [1]:
import pandas as pd
import numpy as np

In [3]:
# Cargar tablas desde archivos CSV
clientes_df = pd.read_csv('clientes.csv')
ventas_df = pd.read_csv('ventas.csv')
persona_df = pd.read_csv('persona.csv')
metodo_pago_df = pd.read_csv('metodoPago.csv')
vehiculo_df = pd.read_csv('vehiculo.csv')
sucursal_df = pd.read_csv('sucursal.csv')
tiempo_df = pd.read_csv('tiempo.csv')

In [4]:
# Mostrar primeras filas
print("Clientes")
print(clientes_df.head())

print("Ventas")
print(ventas_df.head())

print("Persona")
print(persona_df.head())

Clientes
   ID_Cliente  ID_Persona  ID_MetodoPago  Numero_total_alquileres  \
0           1           1              1                      594
1           2           2              2                      360
2           3           3              3                      418
3           4           4              4                      965
4           5           5              5                      878

   Gasto_total Ultima_fecha_alquiler  Duracion_promerio_alquiler
0      9024.14            26/01/2024                          17
1      3606.05            14/05/2024                          10
2      4723.22            08/04/2024                          17
3      9469.15            23/08/2024                          28
4      2992.59            17/05/2024                          15
Ventas
   ID_Venta  ID_Cliente  ID_Vehiculo  ID_Sucursal  ID_Tiempo  \
0         1           1            1            1          1
1         2           2            2            2          2
2         3           3            3            3          3
3         4           4            4            4          4
4         5           5            5            5          5

  Fecha_de_alquiler  Monto_de_alquiler  Duracion_de_alquiler
0        22/08/2021            2886.46                    13
1        03/01/2022            4010.46                    19
2        15/06/2024            8236.10                    19
3        02/06/2022            8596.20                    28
4        16/09/2021            2141.38                    23
Persona
   ID_Persona             Nombre FechaNacimiento                     Email  \
0           1      Alexa Lockley      09/08/1998         alockley0@icq.com
1           2  Robyn Walkingshaw      17/05/1999  rwalkingshaw1@spiegel.de
2           3       Mollee Villa      12/06/1997     mvilla2@wordpress.com
3           4       Chevy Jackes      09/12/1999      cjackes3@twitter.com
4           5    Edeline Tevelov      30/12/1995   etevelov4@cafepress.com

   Genero         Ciudad           Pais
0  Female  Silver Spring  United States
1  Female         Boston  United States
2  Female    New Orleans  United States
3    Male        Phoenix  United States
4  Female       Hartford  United States

In [5]:
# Eliminar filas con valores nulos
clientes_df.dropna(inplace=True)
ventas_df.dropna(inplace=True)
persona_df.dropna(inplace=True)
metodo_pago_df.dropna(inplace=True)
vehiculo_df.dropna(inplace=True)
sucursal_df.dropna(inplace=True)
tiempo_df.dropna(inplace=True)

In [6]:
# Eliminar duplicados
clientes_df.drop_duplicates(inplace=True)
ventas_df.drop_duplicates(inplace=True)
persona_df.drop_duplicates(inplace=True)
metodo_pago_df.drop_duplicates(inplace=True)
vehiculo_df.drop_duplicates(inplace=True)
sucursal_df.drop_duplicates(inplace=True)
tiempo_df.drop_duplicates(inplace=True)

In [7]:
# Formato consistente para fechas
clientes_df['Ultima_fecha_alquiler'] = pd.to_datetime(clientes_df['Ultima_fecha_alquiler'], errors='coerce')
persona_df['FechaNacimiento'] = pd.to_datetime(persona_df['FechaNacimiento'], errors='coerce')
tiempo_df['Fecha'] = pd.to_datetime(tiempo_df['Fecha'], errors='coerce')
ventas_df['Fecha_de_alquiler'] = pd.to_datetime(ventas_df['Fecha_de_alquiler'], errors='coerce')

C:\Users\Tony\AppData\Local\Temp\ipykernel_24044\3399448678.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  clientes_df['Ultima_fecha_alquiler'] = pd.to_datetime(clientes_df['Ultima_fecha_alquiler'], errors='coerce')
C:\Users\Tony\AppData\Local\Temp\ipykernel_24044\3399448678.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  ventas_df['Fecha_de_alquiler'] = pd.to_datetime(ventas_df['Fecha_de_alquiler'], errors='coerce')

In [8]:
# Eliminar filas donde 'Fecha_de_Alquiler' sea NaT
ventas_df = ventas_df[ventas_df['Fecha_de_alquiler'].notna()]

# Eliminar filas donde la fecha de alquiler sea futura
ventas_df = ventas_df[ventas_df['Fecha_de_alquiler'] <= pd.Timestamp.now()]

# Eliminar filas con montos de alquiler o gastos totales negativos
ventas_df = ventas_df[ventas_df['Monto_de_alquiler'] >= 0]
clientes_df = clientes_df[clientes_df['Gasto_total'] >= 0]

In [9]:
# Eliminar filas con valores nulos
clientes_df.dropna(inplace=True)
ventas_df.dropna(inplace=True)
persona_df.dropna(inplace=True)
metodo_pago_df.dropna(inplace=True)
vehiculo_df.dropna(inplace=True)
sucursal_df.dropna(inplace=True)
tiempo_df.dropna(inplace=True)

In [10]:
# Revisar si quedan valores nulos
print(clientes_df.isnull().sum())
print(ventas_df.isnull().sum())
print(persona_df.isnull().sum())
print(metodo_pago_df.isnull().sum())
print(vehiculo_df.isnull().sum())
print(sucursal_df.isnull().sum())
print(tiempo_df.isnull().sum())

ID_Cliente                    0
ID_Persona                    0
ID_MetodoPago                 0
Numero_total_alquileres       0
Gasto_total                   0
Ultima_fecha_alquiler         0
Duracion_promerio_alquiler    0
dtype: int64
ID_Venta                0
ID_Cliente              0
ID_Vehiculo             0
ID_Sucursal             0
ID_Tiempo               0
Fecha_de_alquiler       0
Monto_de_alquiler       0
Duracion_de_alquiler    0
dtype: int64
ID_Persona         0
Nombre             0
FechaNacimiento    0
Email              0
Genero             0
Ciudad             0
Pais               0
dtype: int64
ID_MetodoPago      0
TipoPago           0
NombreBanco        0
FechaExpiracion    0
dtype: int64
ID_Vehiculo      0
Tipo_vehiculo    0
Marca            0
Modelo           0
Año              0
Capacidad        0
dtype: int64
ID_Sucursal                 0
Nombre                      0
Ciudad                      0
Pais                        0
Capacidad_almacenamiento    0
dtype: int64
ID_Tiempo    0
Fecha        0
Mes          0
Año          0
Trimestre    0
dtype: int64

In [11]:
# Guardar los datos limpios en nuevos archivos CSV
clientes_df.to_csv('Clientes_Procesados.csv', index=False)
ventas_df.to_csv('Ventas_Procesados.csv', index=False)
persona_df.to_csv('Persona_Procesados.csv', index=False)
metodo_pago_df.to_csv('MetodoPago_Procesados.csv', index=False)
vehiculo_df.to_csv('Vehiculo_Procesados.csv', index=False)
sucursal_df.to_csv('Sucursal_Procesados.csv', index=False)
tiempo_df.to_csv('Tiempo_Procesados.csv', index=False)